.sallers{
	margin-bottom: 159px;
	&__title {
		font-size: 26.5px;
		text-align: center;
		margin: 0 0 23px 28px;
		span {
			color: rgba(255, 86, 246, 1);
			transition: .2s;
			cursor: pointer;
			img {
				margin-top: 15px;
			}
			&:hover {
				color: rgba(255, 86, 246, .6);
			}
		}
	}
	&__text {
		font-family: 'Roboto';
		margin: 0 auto 56px;
		max-width: 511px;
		padding: 0 0 0 15px;
		text-align: center;
		line-height: 25px;
		font-size: 17.7px;
	}
	&__list {
		margin-bottom: 61px;
		display: grid;
		grid-template-columns: repeat(auto-fit, 437px);
		gap: 34.5px 35px;
		padding: 0 6px;
	}
	&__button {
		display: block;
		width: 234px;
		text-align: center;
		margin: 0 auto;
		border-radius: 0;
		font-size: 19.9px;
		padding: 13px 8px 11px;
	}
	&__explore {
		display: none;
	}
}

.item-sallers {
	font-family: 'Roboto';
	background: linear-gradient(#1F0F42, #1F0F42) padding-box,
	linear-gradient(145deg, rgba(255, 255, 255, 0.28), rgba(255, 255, 255, 0)) border-box;
	border: 2.7px solid transparent;
	border-radius: 28.6px;
	font-size: 19px;
	font-weight: 500;
	align-items: center;
	cursor: pointer;
	transition: .2s;
	position: relative;
	padding: 26.8px 20px 21.9px 54px;
	&:hover {
		box-shadow: 0 0 4px #fff;
	}
	&__num {
		color: rgba(255, 255, 255, 0.8);
		margin-right: 17.2px;
		position: absolute;
		top: 50%;
		left: 27px;
		transform: translate(0, -50%);
	}
	&__avatar {
		width: 69.8px;
		height:  69.8px;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 13px;
		img{
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&__name {
		margin: -7px 0 15px;
	}
	&__price {
		font-size: 13.7px;
	}
	&__index {
		padding: 7px 17px;
		margin: 18px -2px 0 auto;
		font-size: 14.7px;
		background: 
			linear-gradient(#1A2843, #1A2843) padding-box, linear-gradient(262.58deg, rgba(0, 179, 71, 0.72) -7.49%, rgba(73, 182, 73, 0) 123.89%) border-box;
		border: 1.13px solid transparent;
		border-radius: 17.5px;
		color: #00FF66;
		&._red{
			background: 
			linear-gradient(#2D0F3F, #2D0F3F) padding-box, linear-gradient(262.58deg, rgba(179, 0, 0, 0.72) -7.49%, rgba(182, 73, 73, 0) 123.89%) border-box;
			color: #FF0000;
		}
	}
}

@media (max-width: 1410px) {
	.sallers{
		&__list {
			justify-content: center;
		}
	}
}
@media (max-width: 991px) {
	.sallers {
		margin-bottom: 102px;
		&__button {
			display: none;
		}
		&__list {
			margin-bottom: 0;
		}
		& .top-nft__explore {
			transform: translate(0,-4px);
		}
	}
	.item-sallers {
		&:nth-child(5),
		&:nth-child(6),
		&:nth-child(7),
		&:nth-child(8),
		&:nth-child(9),
		&:nth-child(10),
		&:nth-child(11),
		&:nth-child(12) {
			display: none;
		}
	}
}
@media (max-width: 767px) {
	.sallers{
		&__list {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

@media (max-width: 575px) {
	.sallers{
		&__title {
			font-size: 19.2px;
			margin: 0 0 13px 5px;
			span img {
				width: 10px;
				margin: 15px 0px 0px -1px;
			}
		}
		&__text {
			line-height: 140.19%;
			font-size: 14px;
			margin-bottom: 26px;
			padding: 0 3px 0 0px;
		}
		&__list {
			row-gap: 24px;
			padding: 0 3px;
		}
	}

	.item-sallers {
		padding: 17px 14px 18px 40px;
		border-radius: 25.6px;
		&__num {
			font-size: 13.8px;
			left: 20px;
		}
		&__avatar{
			width: 50px;
			height: 50px;
			margin-right: 9px;
		}
		&__text {
			margin: 5px 0 0 0;
		}
		&__name {
			font-size: 13.8px;
			margin: -5px 0 12px;
		}
		&__price {
			font-size: 10px;
			img{
				height: 10px;
			}
		}
		&__index {
			margin: 12px 0px 0 auto;
			padding: 7px 13px;
			font-size: 10px;
		}
	}
}
